/.vscode
/apache-maven-3.9.16-bin
/apache-maven-3.9.16-bin.zip
/bin
/conf
/include
/JAVA_FSE_Hanson_Exercises.jar
/jmods
/legal
/lib
/NOTICE
/OpenJDK21U-jdk_x64_windows_hotspot_21.0.11_10.msi
/release